@page "/"

@using PASSBOOKBRI.Component
@using PASSBOOKBRI.FooterComponent
@using PASSBOOKBRI.Data

@inject Transaksi trx  

<div class="wrapper">
    <div class="main-panel">
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex">

                <div class="logo mr-auto">
                    <img src="assets/img/Logo-Bank-BRI.png">
                </div>

                <div class="header-social-links">
                    <div class="clock-container">
                        <div class="clock-col">
                            <p class="clock-day clock-timer">
                            </p>
                        </div>
                        <div class="clock-col">
                            <p class="clock-hours clock-timer">
                            </p>
                        </div>
                        <div class="clock-col">
                            <p class="clock-minutes clock-timer">
                            </p>
                        </div>
                        <div class="clock-col">
                            <p class="clock-seconds clock-timer">
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </header>

        @switch (message)
        {
            case "historitransaksi":
                {
                    <HistoriTransaksiComponent OnClick="ClickHandler"></HistoriTransaksiComponent>
                    break;
                }
            case "historitransaksibulanlalu":
                {
                    <HistoriTransaksiBulanLaluComponent></HistoriTransaksiBulanLaluComponent>
                    break;
                }
            case "historitransaksibulanberjalan":
                {
                    <HistoriTransaksiBulanBerjalanComponent></HistoriTransaksiBulanBerjalanComponent>
                    break;
                }
            case "historitransaksibulanterakhir":
                {
                    <HistoriTransaksiBulanTerakhirComponent></HistoriTransaksiBulanTerakhirComponent>
                    break;
                }
            case "historitransaksisepuluhterakhir":
                {
                    <HistoriTransaksiSepuluhTerakhirComponent></HistoriTransaksiSepuluhTerakhirComponent>
                    break;
                }
            case "historitransaksiberhasil":
                {
                    <HistoriTransaksiBerhasilComponent OnClick="ClickHandler"></HistoriTransaksiBerhasilComponent>
                    break;
                }
            case "historitransaksigagal":
                {
                    <HistoriTransaksiGagalComponent OnClick="ClickHandler"></HistoriTransaksiGagalComponent>
                    break;
                }
            case "bukutabungan":
                {
                    <BukuTabunganComponent></BukuTabunganComponent>
                    break;
                }
            case "bukutabungankonfirmasi":
                {
                    <BukuTabunganKonfirmasiComponent></BukuTabunganKonfirmasiComponent>
                    break;
                }
            case "bukutabungangagal":
                {
                    <BukuTabunganGagalComponent OnClick="ClickHandler"></BukuTabunganGagalComponent>
                    break;
                }
            case "bukutabunganberhasil":
                {
                    <BukuTabunganBerhasilComponent OnClick="ClickHandler"></BukuTabunganBerhasilComponent>
                    break;
                }
            case "bukuhabis":
                {
                    <BukuTabunganHabisComponent OnClick="ClickHandler"></BukuTabunganHabisComponent>
                    break;
                }
            case "pilihmenu":
                {
                    <PilihMenuComponent OnClick="ClickHandler"></PilihMenuComponent>
                    break;
                }
            case "inputpin":
                {
                    <InputPinComponent OnClick="ClickHandler"></InputPinComponent>
                    break;
                }
            default:
                {
                    <HomeComponent OnClick="ClickHandler"></HomeComponent>
                    break;
                }
        }

    </div>
</div>


<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">


        @switch (message)
        {
            case "historitransaksi":
                {
                    <HistoriTransaksiFooterComponent OnClick="ClickHandler"></HistoriTransaksiFooterComponent>
                    break;
                }
            case "historitransaksibulanlalu":
                {
                    <HistoriTransaksiKonfirmasiFooterComponent OnClick="ClickHandler"></HistoriTransaksiKonfirmasiFooterComponent>
                    break;
                }
            case "historitransaksibulanberjalan":
                {
                    <HistoriTransaksiKonfirmasiFooterComponent OnClick="ClickHandler"></HistoriTransaksiKonfirmasiFooterComponent>
                    break;
                }
            case "historitransaksibulanterakhir":
                {
                    <HistoriTransaksiKonfirmasiFooterComponent OnClick="ClickHandler"></HistoriTransaksiKonfirmasiFooterComponent>
                    break;
                }
            case "historitransaksisepuluhterakhir":
                {
                    <SepuluhTransaksiKonfimasiComponent OnClick="ClickHandler"></SepuluhTransaksiKonfimasiComponent>
                    break;
                }
            case "historitransaksiberhasil":
                {
                    <SelesaiFooterComponent ></SelesaiFooterComponent>
                    break;
                }
            case "historitransaksigagal":
                {
                    <SelesaiFooterComponent></SelesaiFooterComponent>
                    break;
                }
            case "bukutabungan":
                {
                    <BukuTabunganFooterComponent OnClick="ClickHandler"></BukuTabunganFooterComponent>
                    break;
                }
            case "bukutabungankonfirmasi":
                {
                    <BukuTabunganKonfirmasiFooterComponent></BukuTabunganKonfirmasiFooterComponent>
                    break;
                }
            case "bukutabungangagal":
                {
                    <SelesaiFooterComponent></SelesaiFooterComponent>
                    break;
                }
            case "bukutabunganberhasil":
                {
                    <SelesaiFooterComponent></SelesaiFooterComponent>
                    break;
                }
            case "bukuhabis":
                {
                    <SelesaiFooterComponent></SelesaiFooterComponent>
                    break;
                }
            case "pilihmenu":
                {
                    <PilihMenuFooterComponent></PilihMenuFooterComponent>
                    break;
                }
            case "inputpin":
                {
                    <HomeFooterComponent></HomeFooterComponent>
                    break;
                }
            default:
                {
                    <HomeFooterComponent></HomeFooterComponent>
                    break;
                }
        }


    </div>
</footer><!-- End Footer -->

@code{
    private string message = string.Empty;

    void ClickHandler(string strmessage)
    {
        message = strmessage;
    }

    protected override async Task OnInitializedAsync()
    {
        trx.clear();
        trx.clearArray();
    }


}
