@page "/"

@using PASSBOOKBRI.Component
@using PASSBOOKBRI.FooterComponent

<div class="wrapper">
    <div class="main-panel">
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex">

                <div class="logo mr-auto">
                    <img src="assets/img/Logo-Bank-BRI.png">
                </div>

                <div class="header-social-links">
                    <div class="clock-container">
                        <div class="clock-col">
                            <p class="clock-day clock-timer">
                            </p>
                        </div>
                        <div class="clock-col">
                            <p class="clock-hours clock-timer">
                            </p>
                        </div>
                        <div class="clock-col">
                            <p class="clock-minutes clock-timer">
                            </p>
                        </div>
                        <div class="clock-col">
                            <p class="clock-seconds clock-timer">
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </header>

        @switch (message)
        {
            default:
                {
                    <HomeComponent></HomeComponent>
                    break;
                }
        }

    </div>
</div>


<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
    <div class="container" style="display: flex;">
        <div class="col-xl-2 order-1 order-lg-1">
            <!-- <button type="button" class="btn btn-primary" style="background-color: #4E4E4E;">Batal</button> -->
        </div>
        <div class="col-xl-8 order-2 order-lg-2">

            @switch (message)
            {
                default:
                    {
                        <HomeFooterComponent></HomeFooterComponent>
                        break;
                    }
            }

        </div>
        <div class="col-xl-2 order-3 order-lg-3">
            <!-- <button type="button" class="btn btn-primary" style="float: right;">Lanjut</button> -->
        </div>
    </div>
</footer><!-- End Footer -->

@code{
    private string message = string.Empty;

                void ClickHandler(string strmessage)
                {
                    message = strmessage;
                }
            }
