@using Microsoft.AspNetCore.Components

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <teks>Hello, BAMBANG PAMUNGKAS</teks>
                    <h3 style="color: #00529C;">Pilih Periode Transaksi yang Anda Inginkan</h3>
                </div>
            </div>

            <div class="col-xl-12 order-3 order-lg-3 hero-img" data-aos="fade-left" style=" padding: 5rem;">
                <div class="form-input-data">
                    <div id="btn-periode" class="col-md-12" style="text-align: center;">
                        <div class="form-group">
                            <button type="button" class="btn2 btn-histori" @onclick="historitransaksibulanberjalan">Periode Bulan Berjalan</button>
                            <button type="button" class="btn2 btn-histori" style="margin-left: 1rem;" @onclick="historitransaksibulanterakhir">Periode 1 Bulan Terakhir</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn2 btn-histori" @onclick="historitransaksibulanlalu">Periode Bulan Lalu</button>
                            <button type="button" class="btn2 btn-histori" style="margin-left: 1rem;" @onclick="historitransaksisepuluhterakhir">10 Transaksi Terakhir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    public void historitransaksibulanlalu()
    {
        OnClick.InvokeAsync("historitransaksibulanlalu");
    }

    public void historitransaksibulanberjalan()
    {
        OnClick.InvokeAsync("historitransaksibulanberjalan");
    }

    public void historitransaksibulanterakhir()
    {
        OnClick.InvokeAsync("historitransaksibulanterakhir");
    }

    public void historitransaksisepuluhterakhir()
    {
        OnClick.InvokeAsync("historitransaksisepuluhterakhir");
    }

}
