@using Microsoft.AspNetCore.Components
@using PASSBOOKBRI.Data

@inject Transaksi trx

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <teks>Hello, @trx._nasabah</teks>
                    <h3 style="color: #00529C; margin-right: -2rem;">Anda akan Mencetak @trx._jumlahtransaksi Transaksi pada</h3><br>
                    <p>
                        <h3 style="color: #00529C;"><b>@periodeprint</b></h3>
                        <h3 style="color: #F15A23;"><b>@startdate s/d @enddate</b></h3>
                    </p>
                </div>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="assets/img/printer.png" class="img-fluid" alt="" style="margin-top: 5%;">
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

@code {
    private string startdate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).AddDays(-30).ToString("yyyy-MM-dd");
    private string enddate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("yyyy-MM-dd");
    private string periodeprint = "Periode 1 Bulan Terakhir";

    protected override async Task OnInitializedAsync()
    {
        trx.setTransaksiHistori(periodeprint, startdate, enddate);
    }

}
