@using Microsoft.AspNetCore.Components
@using PASSBOOKBRI.Data

@inject Transaksi trx
@inject TimerSet time
@inject NavigationManager navman

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <teks>Silakan Masukkan PIN Anda</teks>
                    <h3 style="color: #00529C; font-size: 25px;">"Tekan “ENTER” jika selesai memasukkan PIN"</h3>
                </div>
            </div>
            <div class="col-xl-6 order-1 order-lg-2 hero-img" data-aos="fade-left" @onclick="pininput">
                @if (validasi == false)
                {
                <p>
                    <h5 style="color: #00529C;"><b>Pin Yang Anda Masukan Salah</b></h5>
                    <h5 style="color: #F15A23;"><b>Kesempatan Mencoba Tinggal @limittry Lagi</b></h5>
                </p>
                }
                <img src="assets/img/pin.png" class="img-fluid" alt="" style="margin-top: 5%;">
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private bool pinvalid = true;
    private bool validasi = true;
    private string namaNasabah = "Bambang Pamungkas";
    private string rekeningNasabah = "1234567890";
    private string alamatNasabah = "Zimbabwe";
    private int limittry = 3;
    private int timer = 60000;
    private bool flag = false;

    private void pininput()
    {
        pincheck(pinvalid);
    }

    public void pincheck(bool valid)
    {
        if (valid == true)
        {
            Console.WriteLine("PIN VALID");
            validasi = true;
            OnClick.InvokeAsync("pilihmenu");
            trx.setNasabah(namaNasabah, rekeningNasabah, alamatNasabah);
            flag = false;
            time.TimeDispose();
        }
        else
        {
            Console.WriteLine("PIN TIDAK VALID");
            validasi = false;
            limittry -= 1;
            if(limittry == 0)
            {
                OnClick.InvokeAsync("default");
            }
        }

    }

    protected override async Task OnInitializedAsync()
    {
        flag = true;
        time.SetTimer(timer);
        time.onelapsed += TimeHandle;
        Console.WriteLine("TIMER START INPUTPIN");
    }

    private void TimeHandle()
    {
        if (flag == true)
        {
            Console.WriteLine("TIME'S UP INPUTPIN");
            //break;
            time.TimeDispose();
            navman.NavigateTo("/waktuhabis");
        }
    }

}
