@using Microsoft.AspNetCore.Components

<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-xl-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <teks style="color: black; font-size: 35px;">Maaf Waktu Anda <b style="color: rgb(190, 20, 20);">Sudah Habis</b></teks>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

@code {      
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        OnClick.InvokeAsync("default");
    }
}
